/* General */

body
{
  font-family: 'Trebuchet MS',Tahoma,Arial,sans-serif;
  color: #333333;
  line-height: 1.4em;
}

/*.clearfix::after
{
  content: " 0020";
  line-height: 0px;
  height: 0px;
  overflow: hidden;
  font-size: 0px;
}*/

h1
{

}

h1.title
{
  
}

h1.contextual-title
{
  height: 28px;
  margin: 0px 0px 30px;
  padding: 20px 0px 0px 25px;
  background: url("../images/emic/bg-h-page-960.jpg") no-repeat scroll left top transparent;
 
  text-transform: uppercase;
  font-size: 2.4em;
  color: #fff;
  overflow: hidden;
}

h1.no-context
{
  
}

h2
{

}

h2.title
{
  font-size: 15px;
  text-transform: uppercase;
}

.block h2.title
{

}

h3
{

}

h4
{

}

h5
{

}

h6
{

} 

h1,
h2,
h3,
h4,
h5,
h6
{
  font-family: 'Trebuchet MS',Tahoma,sans-serif;
}

h1.title,
h2.title,
h3.title
{

}

a,
a:link
{
  color: #1832D0;
  text-decoration: none;
}

a:hover
{
  color: #000;
  text-decoration: underline;
}

a:active,
a.active
{

}

p
{
  margin: 5px 0px;
  padding: 5px 0px;
}

table
{
  width: 100%;
}

tr
{
  
}

tr.first
{
  border-top: 1px solid #ccc;
}

tr.odd
{
  background-color: #f5f5f5;
}

tr.even
{
  background-color: #fcfcfc;
}

tr.odd.ok,
tr.even.ok
{
  background: none repeat scroll 0 0 #DDFFDD;
}

tr.odd.warning,
tr.even.warning
{
  background-color: #FFFFCC;
}

tr.odd.error,
tr.even.error
{
  background-color: #FFEEEE;
  color: #990000;
}



tr td,
tr th
{
  padding: 5px 5px 5px 5px;
}

/* page layout */

#page
{
  min-width: 960px;
  max-width: 95%;
  margin: 0px auto;

  font-size: 12px;
  line-height: 130%;
}

#page p
{

}

.with-navigation #content,
.with-navigation .region-sidebar-first,
.with-navigation .region-sidebar-second
{
  margin-top: 51px;
}

.region-sidebar-first
{
/*  width: 230px;
  margin-right: -230px;*/
}

.sidebar-first #content
{
/*  width: 730px;
  margin-left: 230px;
  margin-right: -960px;*/
}

.two-sidebars #content
{
/*  margin-left: 230px;
  margin-right: -790px;
  width: 530px;*/
}


/* Header */

.secondary-links
{
  float: left;
  width: 100%;
  height: 42px;
}

ul#secondary-menu
{
  float: right;
}

ul#secondary-menu li
{
  
}

ul#secondary-menu li a
{
  
}

ul#secondary-menu li a:hover
{
  
}

ul#secondary-menu li a.active
{
  
}

#header
{

}

.header-content
{
  position: relative;
  float: left;
  width: 100%;
  height: 72px;
}

#logo
{
  position: absolute;
  top: 1px;
  left: 0px;
  width: 310px;
  height: 50px;
}

.region-header-wrap
{
  height: 37px;
  padding-left: 180px;
}

.region-header
{
  float: right;
  width: 100%;
  height: 37px;
  
  background: url('../images/emic/bg-header-small.gif') center bottom transparent repeat-x;
}

.region-header #block-islandora_solr_search-simple
{
  float: right;
}


#header #islandora-solr-simple-search-form #edit-islandora-simple-search-query-wrapper
{
  margin: 0px;
}

#header #islandora-solr-simple-search-form input#edit-islandora-simple-search-query
{
  float: right;
  width: 215px;
  padding: 2px 2px 4px;
/*  margin-top: -6px;*/

  background: url("../images/emic/bg-search.gif") no-repeat scroll 200px 2px #FCFBF2;
  border: 1px solid #BCB7B7;
  color: #757575;
  font-style: italic;
  font-size: 10px;
}

#header #islandora-solr-simple-search-form input.form-submit
{
  display: none;
}


/* Navigation */


#navigation
{
  height: auto;
  margin-bottom: 20px;
  padding-bottom: 3px;

  border-bottom: 1px solid #CCCCCC;
  color: #fff;
  font: bold 12px 'Times New Roman',Times,serif;
  text-transform: uppercase;

}

#navigation ul
{
  
}

#navigation ul li
{
  padding: 0px 0px 0px 0px;
  border-right: 1px solid #B3B3B3;
}

#navigation ul li,
#navigation ul li a
{
  float: left;
  width: 133px;
  display: block;
  margin: 0px;
  text-align: center;
}

#navigation ul li a
{
  padding: 6px 0;
  background: none repeat scroll 0 0 #000000;
  color: #fff;
  text-decoration: none;
}

#navigation ul li a:hover
{
  background: none repeat scroll 0 0 #182DAD;
  text-decoration: none;
}

#navigation ul li a.active
{
  
}










/* Sidebars */

.block ul.menu
{
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  
  border-top: 5px solid #000;
  
  list-style: none;
  list-style-image: none;
}

.block ul.menu ul
{
  border-top: 0px;
}

.block ul.menu li
{
  position: relative;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  
  list-style: none;
  list-style-image: none;
}

.block ul.menu li a
{
  display: block;
  padding: 4px 0 4px 7px;
  
  border-bottom: 1px solid #797979;
  
  color: #000;
  font-size: 13px;
  font-family: 'Times New Roman',Times,serif;
  text-decoration: none;
  text-transform: uppercase;
}

.block ul.menu li ul li a
{
  padding-left: 18px;
  font-size: 12px;
  line-height: 14px;
  border-bottom: 1px solid #CCCCCC;
}

.block ul.menu li ul li li a
{
  font-family: 'Trebuchet MS',Tahoma,sans-serif;
  padding-left: 30px;
  text-transform: none;
}

.block ul.menu li a:hover
{
  background: none repeat scroll 0 0 #D5DEF5;
  text-decoration: none;
}

.block ul.menu li a.active
{
  
}













/* Breadcrumb */

#content
{

}

.breadcrumb
{
  height: auto !important;
  min-height: 20px;
  padding: 0px 10px 0px 0px;
  margin: 0px 0px;
  
  color: #D9D9D9;
  font-size: 11px;
  line-height: 10px;
}

.breadcrumb a
{
  color: #D9D9D9;
}

.breadcrumb a:hover
{
  color: #fff;
  text-decoration: none;
}

.breadcrumb-wrap .breadcrumb
{
  color: #333;
}

.breadcrumb-wrap .breadcrumb a
{
  color: #333;
}

.breadcrumb-wrap .breadcrumb a:hover
{
  color: #000;
  text-decoration: underline;
}

/* Main */

#main
{

}

.node-teaser
{
  margin: 5px 0px;
  padding: 5px 0px;
}

#content p
{
  font-size: 13px;
  color: #333;
  line-height: 18px;
}


/* Footer */

#footer
{
  min-height: 50px;
  padding: 0px 0px 40px 0px;
  margin: 40px 0px 0px 0px;
  background: url('../images/emic/bg-footer.png') top center repeat-x transparent;
}

#footer-logo
{
  width: 100%;
  height: 24px;
  margin: 0px 0px 12px 0px;  
  background: url('../images/emic/bg-footer-icon.png') top center no-repeat transparent;
  
}

.footer-info
{
  float: left;
  width: 100%;
  
  color: #4F4B45;
  font-size: 11px;
  line-height: 12px;
}

.footer-info p
{
  margin: 0px 0px 10px;
  padding: 0px 0px 0px 0px;
}

.footer-left
{
  float: left;
  width: 330px;
}

.footer-right
{
  float: right;
  width: 420px;
  height: 50px;
  
  background: url('../images/emic/logo-sshrc.gif') 0px 2px no-repeat transparent;
}

.footer-info a
{
  color: #4F4B45;
  text-decoration: underline;
}